@model SkyWeb.Models.Custom.Activity

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Activity</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ActivityId" />
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Created" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="End" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsNotes1Title" />
                    <label asp-for="IsNotes1Title"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsNotes2Title" />
                    <label asp-for="IsNotes2Title"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Notes1" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Notes1" class="form-control" />
                <span asp-validation-for="Notes1" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Notes2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Notes2" class="form-control" />
                <span asp-validation-for="Notes2" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Start" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Username" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
